<div class="row">

    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h2 class="text-center">{{ graficos.grafico1.leyenda }}</h2>
                <div style="display: block">
                    <app-grafico-dona [labels]='graficos.grafico1.labels' [data]="graficos.grafico1.data" [tipo]="graficos.grafico1.type"></app-grafico-dona>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h2 class="text-center">{{ graficos.grafico2.leyenda }}</h2>
                <div style="display: block">
                    <app-grafico-dona [labels]='graficos.grafico2.labels' [data]="graficos.grafico2.data" [tipo]="graficos.grafico2.type"></app-grafico-dona>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="row">

    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h2 class="text-center">{{ graficos.grafico3.leyenda }}</h2>
                <div style="display: block">
                    <app-grafico-dona [labels]='graficos.grafico3.labels' [data]="graficos.grafico3.data" [tipo]="graficos.grafico3.type"></app-grafico-dona>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h2 class="text-center">{{ graficos.grafico4.leyenda }}</h2>
                <div style="display: block">
                    <app-grafico-dona [labels]='graficos.grafico4.labels' [data]="graficos.grafico4.data" [tipo]="graficos.grafico4.type"></app-grafico-dona>
                </div>
            </div>
        </div>
    </div>

</div>